{% extends 'mainApp/base.html'%}

{% load crispy_forms_tags %}
{% load static %}


{% block main_head %}
<link href="{% static 'mainApp/css/style.css' %}" rel="stylesheet">
{% endblock main_head %}


{% block main_body %}
<form action="#" method="POST" class="mx-auto">
    {% csrf_token %}

    <div class="image">
        <img src="{% static 'mainApp/img/image.png' %}" alt="Avatar" class="avatar">
    </div>

    <h4 class="text-center">Login Here</h4>
    <hr>

    {% if messages %}
        {% for msg in messages %}
         <div class="alert alert-success" role="alert">
            {{ msg }}
         </div>
        {% endfor %}
    {% endif %}

    {{ form|crispy }}

    <span> <a href="#" class="text-dark"> Forgotten Password?</a></span>

    <div class="container">
        <input class="btn mainbtn" type="submit" value="Login"/>
        <span class="float-right text-muted">Don't have an account? <a href="{% url 'signup' %}" class="text-dark"> Sign Up</a></span>
    </div>
</form>

<!--<form action="#" method="POST" class="mx-auto">-->

<!--    <div class="imgcontainer">-->
<!--        <img src="{% static 'mainApp/img/8.png' %}" alt="Avatar" class="avatar">-->
<!--    </div>-->

<!--    <div class="container">-->
<!--        <label><b>Full Name*</b></label>-->
<!--        <input type="text" name="full_name">-->

<!--        <label><b>Email*</b></label>-->
<!--        <input type="email" name="email">-->

<!--        <label><b>Password*</b></label>-->
<!--        <input type="password" name="password1">-->

<!--        <label><b>Confirm Password*</b></label>-->
<!--        <input type="password" name="password2">-->

<!--        <button type="submit">Login</button>-->

<!--        <label>-->
<!--            <input type="checkbox" checked="checked" name="remember"> Remember me-->
<!--        </label>-->
<!--    </div>-->

<!--    <div class="container" style="background-color:#f1f1f1">-->
<!--        <button type="button" class="cancelbtn">Cancel</button>-->
<!--        <span class="lgn">Don't have an account? <a href="{% url 'signup' %}">Sign Up</a></span>-->
<!--    </div>-->
<!--</form>-->
{% endblock main_body %}
