{% extends 'mainApp/base.html'%}

{% load crispy_forms_tags %}
{% load static %}


{% block main_head %}
<link href="{% static 'mainApp/css/style.css' %}" rel="stylesheet">
{% endblock main_head %}


{% block main_body %}
<form action="#" method="POST" class="mx-auto">
    {% csrf_token %}

    <div class="image">
        <img src="{% static 'mainApp/img/image.png' %}" alt="Avatar" class="avatar">
    </div>

    <h4 class="text-center">Login Here</h4>
    <hr>

    {% if messages %}
        {% for msg in messages %}
         <div class="alert alert-success" role="alert">
            {{ msg }}
         </div>
        {% endfor %}
    {% endif %}

    {{ form|crispy }}

    <span> <a href="#" class="text-dark"> Forgotten Password?</a></span>

    <div class="container">
        <input class="btn mainbtn" type="submit" value="Login"/>
        <span class="float-right text-muted">Don't have an account? <a href="{% url 'signup' %}" class="text-dark"> Sign Up</a></span>
    </div>
</form>
{% endblock main_body %}
