{% extends 'mainApp/base.html'%}

{% load crispy_forms_tags %}
{% load static %}

{% block main_head %}
{% endblock main_head %}

{% block main_body %}
<div class="container">
    <form class="mx-auto" method="POST">
        <div class="image">
            <img src="{% static 'mainApp/img/forget_pwd.png' %}" alt="Avatar" class="avatar">
        </div>
        {% csrf_token %}

        {{ form|crispy }}
        <input type="submit" class="btn mainbtn" value="Reset Password" />
    </form>
</div>
{% endblock main_body %}